<a href="https://colab.research.google.com/github/kosmatiyar/data-cleaning-rmotr-freecodecamp/blob/master/%D0%93%D1%80%D1%83%D0%BF%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0_%D0%BF%D0%BE_%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%D0%BC_%D0%BA%D0%BE%D0%BB%D0%BE%D0%BD%D0%BE%D0%BA_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Группировка по значениям колонок — groupby

Группировка разделяет весь датасет на группы по значениям какой-либо колонки (или нескольких).

### Подгрузка датасета

In [1]:
!gdown --id 1LjVzFpLoB0vfB1wSuc7PxZ0VyiJFNOVS 
import pandas as pd
dataset = pd.read_csv('housing_market_dataset.csv')

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1LjVzFpLoB0vfB1wSuc7PxZ0VyiJFNOVS
To: /content/housing_market_dataset.csv
100% 29.4M/29.4M [00:00<00:00, 128MB/s]

### Кейс 1. Необходимо рассчитать среднюю цену квартир на разной стадии строительства

In [2]:
import re

def clear_price(price):
  return int(re.sub('\D', '', price))
dataset['Очищенная цена'] = dataset['Цена'].apply(clear_price)

In [3]:
dataset.groupby('Этап строительства')

In [4]:
groups = dataset.groupby('Этап строительства')
groups_mean_price = groups['Очищенная цена'].mean()

In [5]:
groups_mean_price

Этап строительства
В проекте          6.185037e+06
Возведение стен    1.236093e+07
Заморожено         8.774750e+06
Котлован           8.517868e+06
Отделка            1.554390e+07
Площадка           1.032724e+07
Сдан               2.043495e+07
Name: Очищенная цена, dtype: float64

In [6]:
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Этап строительства
В проекте           6185036
Возведение стен    12360927
Заморожено          8774750
Котлован            8517868
Отделка            15543895
Площадка           10327241
Сдан               20434953
Name: Очищенная цена, dtype: int64

### Кейс 2. Необходимо рассчитать среднюю цену квартир в зависимости от стадии строительства и класса жилья.

In [7]:
dataset.groupby(['Этап строительства', 'Класс жилья'])

In [8]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'])['Очищенная цена'].mean()
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Этап строительства  Класс жилья
В проекте           Бизнес класс     17854750
                    Комфорт класс     5876689
                    Элит класс        7300000
Возведение стен     Бизнес класс     14832840
                    Комфорт класс     5993095
                    Эконом класс      6564340
                    Элит класс       30390451
Заморожено          Бизнес класс      8750000
                    Эконом класс      8799500
Котлован            Бизнес класс      6100000
                    Комфорт класс     8611092
                    Эконом класс      7300000
Отделка             Бизнес класс     14800645
                    Комфорт класс     6862173
                    Элит класс       31383414
Площадка            Бизнес класс     11033281
                    Комфорт класс    10083113
Сдан                Бизнес класс     15561696
                    Комфорт класс     7677024
                    Эконом класс      8259168
                    Элит класс       61650630
Name: Очищенная цена, dtype: int64

In [9]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price

   Этап строительства    Класс жилья  Очищенная цена
0           В проекте   Бизнес класс    1.785475e+07
1           В проекте  Комфорт класс    5.876690e+06
2           В проекте     Элит класс    7.300000e+06
3     Возведение стен   Бизнес класс    1.483284e+07
4     Возведение стен  Комфорт класс    5.993096e+06
5     Возведение стен   Эконом класс    6.564340e+06
6     Возведение стен     Элит класс    3.039045e+07
7          Заморожено   Бизнес класс    8.750000e+06
8          Заморожено   Эконом класс    8.799500e+06
9            Котлован   Бизнес класс    6.100000e+06
10           Котлован  Комфорт класс    8.611092e+06
11           Котлован   Эконом класс    7.300000e+06
12            Отделка   Бизнес класс    1.480065e+07
13            Отделка  Комфорт класс    6.862173e+06
14            Отделка     Элит класс    3.138341e+07
15           Площадка   Бизнес класс    1.103328e+07
16           Площадка  Комфорт класс    1.008311e+07
17               Сдан   Бизнес класс    1.556170e+07
18               Сдан  Комфорт класс    7.677025e+06
19               Сдан   Эконом класс    8.259169e+06
20               Сдан     Элит класс    6.165063e+07

In [10]:
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)
groups_mean_price

   Этап строительства    Класс жилья  Очищенная цена
0           В проекте   Бизнес класс        17854750
1           В проекте  Комфорт класс         5876689
2           В проекте     Элит класс         7300000
3     Возведение стен   Бизнес класс        14832840
4     Возведение стен  Комфорт класс         5993095
5     Возведение стен   Эконом класс         6564340
6     Возведение стен     Элит класс        30390451
7          Заморожено   Бизнес класс         8750000
8          Заморожено   Эконом класс         8799500
9            Котлован   Бизнес класс         6100000
10           Котлован  Комфорт класс         8611092
11           Котлован   Эконом класс         7300000
12            Отделка   Бизнес класс        14800645
13            Отделка  Комфорт класс         6862173
14            Отделка     Элит класс        31383414
15           Площадка   Бизнес класс        11033281
16           Площадка  Комфорт класс        10083113
17               Сдан   Бизнес класс        15561696
18               Сдан  Комфорт класс         7677024
19               Сдан   Эконом класс         8259168
20               Сдан     Элит класс        61650630

In [28]:
bussines_at_site = dataset['Этап строительства'] == 'Площадка'
bussines_at_site == 'Бизнес класс'
bussines_at_site.sum()

541

In [43]:
dataset.columns

Index(['url', 'Заголовок', 'Новостройка', 'Этап строительства',
       'Год постройки', 'Класс жилья', 'МЦК', 'Кол-во просмотров',
       'Кол-во просмотров сегодня', 'Описание', 'Информация', 'Адрес',
       'Тип здания', 'Количество этажей', 'Цена', 'цена за м²',
       'Комиссия агенту', 'Количество комнат', 'Этажность', 'Тип объекта',
       'Тип объявления', 'Общая площадь', 'Дата публикации',
       'Дата  обновления', 'Площадь кухни', 'Возможна ипотека', 'Лифт',
       'Ближайшая станция метро', 'Расстояние до метро', 'Ближайшая школа',
       'Рейтинг школы', 'Адрес ближайшей школы',
       'Расстояние до ближайшей школы', 'Район', 'Рейтинг района',
       'Номер этажа', 'Очищенная цена за м²', 'Очищенная цена'],
      dtype='object')

In [44]:
tip = dataset['Тип здания']
tip

0                  Панельное
1        Монолитно-кирпичный
2                 Монолитное
3                 Монолитное
4                 Монолитное
                ...
12996    Монолитно-кирпичное
12997    Монолитно-кирпичное
12998    Монолитно-кирпичное
12999    Монолитно-кирпичное
13000    Монолитно-кирпичное
Name: Тип здания, Length: 13001, dtype: object

In [63]:
groups_mean_price = dataset.groupby('Тип здания')['Очищенная цена'].min()
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Тип здания
Блочное                 3450000
Кирпичное               2000000
Монолитно-кирпичное     1750000
Монолитно-кирпичный     6400000
Монолитное               612000
Монолитный              4385000
Панельно-кирпичное      6950000
Панельное               1800000
Панельный              11700000
Сталинское              9150000
Name: Очищенная цена, dtype: int64

### Шаблоны группировки по значениям колонок

In [55]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Тип здания'], as_index=False)['Очищенная цена'].median()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)
groups_mean_price

   Этап строительства           Тип здания  Очищенная цена
0           В проекте            Кирпичное        10050000
1           В проекте           Монолитное         5656425
2     Возведение стен              Блочное         6050000
3     Возведение стен            Кирпичное        11828050
4     Возведение стен  Монолитно-кирпичное        15585614
5     Возведение стен           Монолитное         8632154
6     Возведение стен            Панельное         6883870
7          Заморожено            Кирпичное         8750000
8          Заморожено           Монолитное         9600000
9          Заморожено            Панельное         7999000
10           Котлован              Блочное         6700000
11           Котлован           Монолитное         8737015
12           Котлован            Панельное         6651120
13            Отделка              Блочное         9050000
14            Отделка            Кирпичное         8571250
15            Отделка  Монолитно-кирпичное         6002112
16            Отделка  Монолитно-кирпичный        22297600
17            Отделка           Монолитное        13168400
18            Отделка           Монолитный         5108000
19            Отделка            Панельное         7250000
20           Площадка              Блочное        10650000
21           Площадка           Монолитное        10405200
22           Площадка            Панельное         5248880
23               Сдан              Блочное         7500000
24               Сдан            Кирпичное         8700000
25               Сдан  Монолитно-кирпичное        28639317
26               Сдан  Монолитно-кирпичный        28500000
27               Сдан           Монолитное        10360000
28               Сдан           Монолитный        13826930
29               Сдан            Панельное         7200000
30               Сдан            Панельный        13950000

In [60]:
groups_mean_price = dataset.groupby('Этап строительства')['Очищенная цена'].mean().astype(int)
groups_mean_price

Этап строительства
В проекте           6185036
Возведение стен    12360927
Заморожено          8774750
Котлован            8517868
Отделка            15543895
Площадка           10327241
Сдан               20434953
Name: Очищенная цена, dtype: int64

In [62]:
groups_max_year = dataset.groupby('Этап строительства')['Год постройки'].max().astype(int)
groups_max_year

Этап строительства
В проекте          2021
Возведение стен    2021
Заморожено         2018
Котлован           1977
Отделка            2020
Площадка           2021
Сдан               2021
Name: Год постройки, dtype: int64

In [ ]:
# Шаблон взятия среднего значения цены квартир сгруппированных по значениям Этапа строительства  
groups_mean_price = dataset.groupby('Этап строительства')['Очищенная цена'].mean()

In [50]:
# Шаблон взятия среднего значения цены квартир сгруппированных по значениям колонок Этапа строительства и Класса жилья
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)